body{
    background-color: rgb(46, 40, 40);
}

h1{
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.container{
    border: 2px solid #fff;
    border-radius: 10px;
    
}

#dice{
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;

}

#roll-dice{
    display: block;
    margin: 40px auto;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#roll-dice:hover{
    background-color: #bdafaf;
}
